name: Merged PR workflow

on:
  push:
    branches:
      - main

jobs:
  pr-merged:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Print commit messages
        run: |
          echo '${{ toJson(github) }}' | jq .
      - name: Custom code
        uses: ./.github/actions/retag
        with:
          working-directory-path: ${{ env.WORKING_DIRECTORY_PATH }}
