name: Merged PR workflow

on:
  push:
    branches:
      - main

jobs:
  pr-merged:
    runs-on: ubuntu-latest
    steps:
      - name: Print commit messages
        run: |
          echo '${{ toJson(github) }}' | jq .
      - name: Node info
        uses: actions/github-script@v8
        with:
          script: |
            console.log('Platform: ', process.platform);
            console.log('Node version: ', process.version);
            console.log('execArgv: ', process.execArgv);
            console.log('argv: ', process.argv);
      - name: Custom code
        uses: actions/github-script@v8
        with:
          script: |
            {
              interface Message {
                from: string;
                text: string;
              }
            
              function printMessage(message: Message): void {
                console.log(`${message.from}: ${message.text}`);
              }
            
              const msg: Message = {
                from: "Alice",
                text: "Hello, World!"
              };
            
              printMessage(msg);
            }
